body{
    background-color: #00BCD5 ;
}
#keyboard {
    display: block;
    margin: 0 auto;
    background-color: #252B2C;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 920px;
}
.key {
    background-color: #303B3D;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    color: white;
    padding: 5px;
    margin: 5px;
}
.active {
    background: #00BCD5;
}